@model TBlockSharer.Models.Index

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TBlockSharer</h1>
    <p class="lead">TBlockSharer allows you to share your Twitter block list with other users.</p>
    <p>@Html.ActionLink("Learn more »", "LearnMore", "About", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your blocks</h2>
        @if (Model == null || Model.BlockedUsers == null) { 
            <p>This will list your current block list as fetched from twitter.</p>
        }
        else { 
            <select multiple class="form-control">
                @foreach (string blockedUser in Model.BlockedUsers) { 
                    <option>@blockedUser</option>
                }
            </select>
        }
    </div>
    <div class="col-md-4">
        <h2>Your shares</h2>
        @if (Model == null || Model.SharedWithUsers == null)
        {
            <p>This will list the twitter users you allow to import your block list.</p>
        }
        else {
            <select multiple class="form-control">
                @foreach (string sharedWithUser in Model.SharedWithUsers)
                {
                    <option>@sharedWithUser</option>
                }
            </select>
        }
    </div>
    <div class="col-md-4">
        <h2>Your imports</h2>
        @if (Model == null || Model.ImportedUsers == null)
        { 
            <p>This will list the twitter users whose block lists you import.</p>
        }
        else {         
            <select multiple class="form-control">
                @foreach (string importedUser in Model.ImportedUsers)
                {
                    <option>@importedUser</option>
                }
            </select>
        }
    </div>
</div>